.header {
    height: 40px; /* фіксована висота для header */
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f7f7f7;
    border-bottom: 1px solid #e0e0e0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    
}
body{
    height: 3000px;


}
/* Логотип */
.logo {
    display: flex;
    align-items: center;
}

.logo-img {
    height: 25px; 
    margin: 20px 25px 20px;
    width: auto;
}

/* Навігація */
.nav {
    display: flex;
    gap: 20px;
}

.nav a {
    color: #333;
    text-decoration: none;
    font-size: 16px;
    padding: 5px;
    transition: color 0.3s ease, background-color 0.3s ease; /* Плавний перехід */
}

.nav a:hover {
    color: #007bff; /* Колір при наведенні */
    background-color: #f0f0f0; 
    border-radius: 4px; 
}

/* Кнопка Особистий кабінет */
.auth {
    margin-left: auto;
    margin-right: 30px;
}

.auth a {
    display: flex;
    align-items: center;
    color: #333;
    text-decoration: none;
    font-size: 16px;
    padding: 5px 10px;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    transition: background-color 0.3s ease, color 0.3s ease; /* Плавний перехід */
}

.auth a:hover {
    background-color: #007bff;
    color: #fff;
}

.auth-icon {
    width: 16px;
    height: 16px;
    margin-left: 6px;
}

.burger-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 4px;
}

.burger-menu span {
    background-color: #333;
    height: 2px;
    width: 20px;
    transition: background-color 0.3s ease;
}

/* Dark_light */
.right-section {
    display: flex;
    align-items: center;
    gap: 10px; /* Відступ між кнопкою і кабинет */
}

.theme-toggle {
    display: flex;
    align-items: center;
    margin-right: 10px; 
}
/* тема иконка */
.theme-icon {
    width: 28px; 
    height: 28px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.theme-icon:hover {
    transform: scale(1.1); /* збільшення при наведенні */
}

.content {
    padding-top: 80px; 
    text-align: center;
}

.text {
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    color: #333;
    font-weight: 700;
    text-align: center;
    margin: 0 auto;
    padding-top: 20px;
}

.subtitle {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #666;
    font-weight: 400;
    text-align: center;
    margin-top: 10px;
    line-height: 1.5;
}

@media (max-width: 768px) {
    .nav {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: #f7f7f7;
        border-top: 1px solid #e0e0e0;
    }

    .nav.active {
        display: flex;
    }

    .burger-menu {
        display: flex;
    }

    .nav a {
        padding: 10px 20px;
        text-align: left;
        border-bottom: 1px solid #e0e0e0;
    }

    .nav a:hover {
        background-color: #f0f0f0;
    }
}
/* Кнопки */
.custom-btn {
    width: 195px; 
    height: 60px; 
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Raleway', sans-serif; 
    font-size: 17px; 
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
                7px 7px 20px 0px rgba(0, 0, 0, .1),
                4px 4px 5px 0px rgba(0, 0, 0, .1);
    outline: none;
}

/* 3 */
.btn-3 {
    background: rgb(50, 205, 50); 
    background: linear-gradient(0deg, rgba(50, 205, 50, 1) 0%, rgba(34, 139, 34, 1) 100%); 
    width: 195px; 
    height: 60px; 
    line-height: 62px; 
    padding: 0;
    border: none;
}

.btn-3 span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

.btn-3:before,
.btn-3:after {
    position: absolute;
    content: "";
    right: 0;
    top: 0;
    background: rgba(34, 139, 34, 1); 
    transition: all 0.3s ease;
}

.btn-3:before {
    height: 0%;
    width: 2px;
}

.btn-3:after {
    width: 0%;
    height: 2px;
}

.btn-3:hover {
    background: transparent;
    box-shadow: none;
}

.btn-3:hover:before {
    height: 100%;
}

.btn-3:hover:after {
    width: 100%;
}

.btn-3 span:hover {
    color: rgba(34, 139, 34, 1); 
}

.btn-3 span:before,
.btn-3 span:after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    background: rgba(34, 139, 34, 1); 
    transition: all 0.3s ease;
}

.btn-3 span:before {
    width: 2px;
    height: 0%;
}

.btn-3 span:after {
    width: 0%;
    height: 2px;
}

.btn-3 span:hover:before {
    height: 100%;
}

.btn-3 span:hover:after {
    width: 100%;
}

.auth {
    display: flex;
    align-items: center;
    color: #333;
    text-decoration: none;
}

.card {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.bankcard {
    width: 300px; /* Ширина на мобильных устройствах */
    height: auto;
    transition: width 0.3s ease, margin-left 0.3s ease;
}

/* Стили для ПК */
@media (min-width: 768px) {
    .bankcard {
        width: 1000px; /* Ширина на экранах ПК */
        margin-left: 100px; /* Сдвиг вправо на экранах ПК */
    }
}
/* Общий контейнер для иконок */
.icon-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

/* Карточка для каждой иконки */
.icon-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 80px;
    transition: transform 0.3s ease;
    
}

.icon-card img {
    width: 50px;
    height: auto;
    transition: transform 0.3s ease;
}

/* Текст под иконкой */
.icon-card p {
    font-size: 13px;
    color: #666;
    margin-top: 6px;
    font-weight: 400; /* Убрана жирность */
    letter-spacing: 0.3px; /* Лёгкое расстояние между буквами */
    transition: color 0.3s ease; /* Плавное изменение цвета */
}

/* Анимация при наведении */
.icon-card:hover {
    transform: scale(1.05); /* Лёгкое увеличение карточки */
}

.icon-card:hover img {
    transform: scale(1.1); /* Лёгкое увеличение иконки при наведении */
}

.icon-card:hover p {
    color: #4a90e2; /* Пастельный синий цвет текста при наведении */
}
.icon-card a {
    text-decoration: none;
}
/* Адаптивность */
@media (max-width: 768px) {
    .icon-card {
        width: 70px;
    }

    .icon-card img {
        width: 40px;
    }

    .icon-card p {
        font-size: 12px;
    }
}


.content {
    padding-top: 80px; /* Отступ сверху */
    text-align: center;
    margin: 0 40px; /* Увеличенные отступы слева и справа */
    margin-bottom: 80px; /* Увеличенный нижний отступ */
}

.text {
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    color: #333;
    font-weight: 500; /* Жирность шрифта 500 */
    margin: 0 auto;
    padding-top: 20px;
}

.blocks {
    display: flex; /* Используем flexbox для горизонтального расположения */
    justify-content: space-between; /* Равномерное распределение блоков */
    margin-top: 20px; /* Отступ между заголовком и блоками */
}

.left-block {
    background-color: #CAFCEB; /* Цвет левого блока */
    border-radius: 10px; /* Закругленные углы */
    padding: 80px; /* Увеличенный внутренний отступ для высоты */
    width: 45%; /* Ширина левого блока */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Опциональная тень */
    margin-right: 40px; /* Отступ справа от левого блока */
}

.right-block {
    background-color: #E5F3FA; /* Цвет правого блока (синий) */
    border-radius: 10px; /* Закругленные углы */
    padding: 80px; /* Увеличенный внутренний отступ для высоты */
    width: 45%; /* Ширина правого блока */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Опциональная тень */
}


/* Добавьте стили для текста внутри блоков */
.block-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px; /* Размер шрифта для заголовка */
    font-weight: 500; /* Жирность шрифта */
    color: #333; /* Цвет текста */
    margin-bottom: 10px; /* Отступ снизу */
}

.block-description {
    font-family: 'Roboto', sans-serif;
    font-size: 16px; /* Размер шрифта для описания */
    color: #666; /* Цвет текста */
    line-height: 1.5; /* Высота строки для читаемости */
}

.right-block img {
    max-width: 100%; /* Ограничение ширины до 100% контейнера */
    height: 400px; /* Задайте одинаковую высоту для всех изображений */
    object-fit: cover; /* Обрезка изображения, чтобы оно заполнило контейнер */
    border-radius: 10px; /* Закругленные углы для изображений */
    margin-top: 20px; /* Отступ сверху */
}
.left-block img {
    width: 100%; /* Ширина изображения 100% от родительского блока */
    height: auto; /* Автоматическая высота для сохранения пропорций */
    max-height: 400px; /* Максимальная высота изображения */
    object-fit: cover; /* Обрезка изображения, чтобы оно заполнило контейнер */
    border-radius: 10px; /* Закругленные углы для изображения */
    margin-top: 20px; /* Отступ сверху */
}

.left-block2 {
    background-color: #E5F3FA; /* Цвет левого блока */
    border-radius: 10px; /* Закругленные углы */
    padding: 20px; /* Увеличенный внутренний отступ для высоты */
    width: 20%; /* Ширина левого блока */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Опциональная тень */
    margin-right: 40px; /* Отступ справа от левого блока */
    position: relative; /* Для позиционирования ссылки */
}
.block-title2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px; /* Размер шрифта для заголовка */
    font-weight: 500; /* Жирность шрифта */
    color: #333; /* Цвет текста */
    margin-bottom: 10px; /* Отступ снизу */
}

.block-description2 {
    font-family: 'Roboto', sans-serif;
    font-size: 20px; /* Размер шрифта для описания */
    color: #666; /* Цвет текста */
    line-height: 1.5; /* Высота строки для читаемости */
}

.left-block3 {
    background-color: #E5F3FA; /* Цвет левого блока */
    border-radius: 10px; /* Закругленные углы */
    padding: 20px; /* Увеличенный внутренний отступ для высоты */
    width: 20%; /* Ширина левого блока */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Опциональная тень */
    margin-right: 40px; /* Отступ справа от левого блока */
    position: relative; /* Для позиционирования ссылки */
}
.block-title3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px; /* Размер шрифта для заголовка */
    font-weight: 500; /* Жирность шрифта */
    color: #333; /* Цвет текста */
    margin-bottom: 10px; /* Отступ снизу */
}

.block-description3 {
    font-family: 'Roboto', sans-serif;
    font-size: 20px; /* Размер шрифта для описания */
    color: #666; /* Цвет текста */
    line-height: 1.5; /* Высота строки для читаемости */
}

.right-block2 {
    background-color: #E5F3FA; /* Цвет левого блока */
    border-radius: 10px; /* Закругленные углы */
    padding: 20px; /* Увеличенный внутренний отступ для высоты */
    width: 20%; /* Ширина левого блока */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Опциональная тень */
    margin-right: 40px; /* Отступ справа от левого блока */
    position: relative; /* Для позиционирования ссылки */
}
.block-title4 {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px; /* Размер шрифта для заголовка */
    font-weight: 500; /* Жирность шрифта */
    color: #333; /* Цвет текста */
    margin-bottom: 10px; /* Отступ снизу */
}

.block-description4 {
    font-family: 'Roboto', sans-serif;
    font-size: 20px; /* Размер шрифта для описания */
    color: #666; /* Цвет текста */
    line-height: 1.5; /* Высота строки для читаемости */
}

.view-link {
    display: block; /* Делаем ссылку блочным элементом */
    margin-top: 20px; /* Отступ сверху для отделения от текста */
    color: #0979f0; /* Цвет текста */
    text-decoration: none; /* Убираем подчеркивание */
    font-size: 20px; /* Размер шрифта */
    text-align: center; /* Выравнивание по центру */
    transition: color 0.3s; /* Плавный переход для цвета */
}

.view-link:hover {
    color: #053b75; /* Цвет текста при наведении */
}



.left-block4 {
    background-color: #E5F3FA; /* Цвет левого блока */
    border-radius: 10px; /* Закругленные углы */
    padding: 20px; /* Увеличенный внутренний отступ для высоты */
    width: 40%; /* Ширина левого блока */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Опциональная тень */
    margin-right: 40px; /* Отступ справа от левого блока */
    position: relative; /* Для позиционирования ссылки */
}
.block-title5 {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px; /* Размер шрифта для заголовка */
    font-weight: 500; /* Жирность шрифта */
    color: #333; /* Цвет текста */
    margin-bottom: 10px; /* Отступ снизу */


}

.block-description5 {
    font-family: 'Roboto', sans-serif;
    font-size: 20px; /* Размер шрифта для описания */
    color: #666; /* Цвет текста */
    line-height: 1.5; /* Высота строки для читаемости */


}


.footer {
    background-color: #757575;
    color: #bfbfbf;
    padding: 20px 40px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    margin: 60px 0px 0px;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 20px;
    border-bottom: 1px solid #777777;
}

.logo-block {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo {
    height: 30px;
}




.footer-line {
    width: 100%; /* Линия по всей ширине экрана */
    height: 2px; /* Толщина линии */
    background-color: #d1d1d1; /* Цвет линии */
    margin: 40px 0px; /* Отступы сверху и снизу */
}
.footer-bottom {
    padding-top: 20px;
    text-align: center;
}


.social-icons {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding-top: 10px;
}

.social-icons a {
    color: #bfbfbf;
    font-size: 20px;
}

.social-icons a:hover {
    color: #ffffff;
}
